.falcun, .info label , .info div{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0;
}
.info div{
    height: 18px;
}
.cardcomponent{
    background-color: #fff;
     padding: 15px;
     border-radius: 5px;
     margin: 0 0px 14px 0;
    
 }
 .banner_img {
    height: 137px;
    width: 100%;
    text-align: center;
    background-color: #eaeded;
    margin-bottom: 10px;
}
.banner_img img {
    width: auto;
    height: 100%;
}
.falcun {
    color: blue;
    white-space: nowrap;
    overflow: hidden;
}
.info{
    margin: 0;
}
.col-3 {
 
    max-width: unset;
}