<div class = " cardcomponent">
    <div class = "banner_img">
        <img src = "{{cardData.links.mission_patch}}">
    </div>
    <p class="falcun">{{cardData.mission_name}}#{{cardData.flight_number}}</p>
    <div class="row info">
        <label for ="mission" class = "col-12">Mission lds:</label>
        <!-- <input type="input" class = "col-12"> -->
        <div class="col-12">{{cardData.mission_id}}</div>
        <label for ="mission" class = "col-6">Launch Year:</label>
        <div class = "col-6">{{cardData.launch_year}}</div>
        <label for ="mission" class = "col-6">Successful Launch:</label>
        <div class = "col-6">{{cardData.launch_success}}</div>
        <label for ="mission" class = "col-6">Successful Landing:</label>
        <div class = "col-6">{{cardData.launch_landing}}</div>
    </div>
</div>
