<div class = "default_color">
    <h2 class="spaceX">SpaceX Launch Programs</h2>
    <div class = "row landing_page"  style=" margin:0">
        <div class = "col-sm-12 col-md-2 margin-bot ">
         <app-left-card></app-left-card>
           
        </div>
        <div class= "col-sm-12 col-md-10 " >
            <div >
                <div class = "row landing_page_right">
                   <ng-container *ngFor="let data of dataArr">
                    <app-card [cardV]="data" class="col-sm-12 col-md-6 col-lg-3"></app-card>
                   </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>