/* font-family */

body{
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    height:100%;
    padding: 15px 10px;
    background-color: #EAEDED !important;
}


/* media-quarie */
@media (min-width: 768px) { 
    .landing_page_right > div{
        max-width: 46%;   
    }
 }
@media (min-width: 992px) { 
    .landing_page_right > div{
        max-width: 23.5%;   
    }
    
 }



/* Demo_page */
.landing_page .col-md-2 , .landing_page .col-md-10 {
    padding-left: 0px;
}
.landing_page .col-md-10{
    padding-right: 0px;
}
.spaceX{
    font-weight: 600;
    font-size: 28px;
}
.landing_page_left {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.filters{
    font-size: 18px;
    font-weight: 600;}

/* Noof_years */
.noof_years{
    text-align: center;
}
.noof_years > p{
    border-bottom: 2px solid #868686;
    margin: 0px 22px;
    margin-bottom: 10px;
    color: #868686;
    font-size: 14px;
    font-weight: 800;
}
.noof_years > .row > div{
    margin-bottom: 10px;
}
.noof_years button {
    padding: 1px 6px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

/* landing_page_right */
.landing_page_right > div{
   background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 0 15px 14px 0;
   
}
.banner_img{
    height: 137px;
    width: 100%;
    text-align: center;
    background-color: #eaeded;
    margin-bottom: 10px;
}
.banner_img img{
    width: auto;
    height: 100%;
}
.falcun, .info label , .info input{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 0;
}
.falcun{
    color:blue;
 
}
.row{
    margin-left:0px !important;
    margin-right: 0px !important;
}