.landing_page_left {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.filters {
    font-size: 18px;
    font-weight: 600;
}
/* Noof_years */
.noof_years{
    text-align: center;
}
.noof_years > p{
    border-bottom: 2px solid #868686;
    margin: 0px 22px;
    margin-bottom: 10px;
    color: #868686;
    font-size: 14px;
    font-weight: 800;
}
.noof_years > .row > div{
    margin-bottom: 10px;
}
.noof_years button {
    padding: 1px 6px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}