<div class="landing_page_left">
    <h3 class="filters">Filters</h3>
    <div class = "noof_years">
        <p>Launch Year</p>
        <div class = "row">
            <div class = "col-6" *ngFor="let year of yearArr" (click)="getDataFromLoading('filter' , year)">
                <button type="button" class="btn" [ngClass]="{'btn-primary': (selectedYear === year),'btn-primary': (selectedYear !== year)}">
                {{year}}        
                  </button>
            </div>         
        </div>
    </div>
    <div class = "noof_years"> 
        <p>Successful Launch</p>
        <div class = "row">
            <div class = "col-6 ">
                <button type="button" class="btn btn-primary" (click)="getDataFromLoading('launch_success' , true)" data-toggle="button" aria-pressed="false">
                True        
                  </button>
            </div>
            <div class = "col-6">
                <button type="button" class="btn btn-primary" (click)="getDataFromLoading('launch_success' , false)" data-toggle="button" aria-pressed="false">
                   False
                  </button>
            </div>
        </div>
    </div>
    <div class = "noof_years">
        <p>Successful Landing</p>
        <div class = "row">
            <div class = "col-6">   
                <button type="button" class="btn btn-primary"  (click)="getDataFromLoading('land_success' , true)" data-toggle="button" aria-pressed="false">
                True        
                  </button>
            </div>
            <div class = "col-6">
                <button type="button" class="btn btn-primary" (click)="getDataFromLoading('land_success' , false)" data-toggle="button" aria-pressed="false">
                   False
                  </button>
            </div>
        </div>
    </div>
</div>